@font-face {
    font-family: 'barra';
    src: url(../fond/Kanit-Regular.ttf);
}
@font-face {
    font-family: 'titulo';
    src: url(../fond/SAGONABOOKBOLD.TTF);
}
@font-face {
    font-family: 'texto';
    src: url(../fond/Karla-Regular.ttf);
}
.logo{
    position: absolute;
    width: 11vw;
    left: 6vw;
    top: 0.5vw;
}
.Huella{
    position: absolute;
    width: 2vw;
    left: 22vw;
    top: 4.5vw;
}
.Estrella{
    position: absolute;
    width: 2.5vw;
    left: 40vw;
    top: 4.6vw;
}
.mas{
    position: absolute;
    width: 2.5vw;
    left: 62vw;
    top: 4.6vw;
}
.corazon{
    position: absolute;
    width: 2vw;
    left: 84vw;
    top: 4.5vw;
}
.sobre{
    color: black;
    position: absolute;
    font-family: 'barra';
    top: 2.3vw;
    left: 25vw;
    font-size: 1.5vw;
    text-align: center;
    width: 5vw;
}
.fav{
    color: black;
    position: absolute;
    font-family: 'barra';
    top: 3.2vw;
    left: 44vw;
    font-size: 1.5vw;
    text-align: center;
}
.inf{
    color: black;
    position: absolute;
    font-family: 'barra';
    top: 3.2vw;
    left: 65vw;
    font-size: 1.5vw;
    text-align: center;
}
.realizar{
    color: black;
    position: absolute;
    font-family: 'barra';
    top: 2.3vw;
    left: 88vw;
    font-size: 1.5vw;
    text-align: center;
    width: 5vw;
}
.titulo{
    color: #5696df;
    position: absolute;
    font-family: 'titulo';
    font-size: 4vw;
    width: 38vw;
    top: 10vw;
    left: 33vw;
    text-align: center;
}




.ContenedorAnimales{
    left: 20vw;
    height: 19vw;
    width: 35vw;
    border: 0.2vw solid #5696df;
    display: flex;
    flex-direction: column;
}
#pets_container{
    width: 8vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5vw;
}
section {
    margin-top: 13vmax;
    display: flex;
}
.falso{
    border: 1px solid transparent;
}
.filters {
    margin: 7.5vw;
    background-color: white;
}
.simboloMas{
    margin-top: 0vw;
    margin-left: 32vw;
    width: 2vw;    
}
.simboloEstrella{
    margin-top: -12vw;
    margin-left: 32vw;
    width: 2vw;
}
.PetImages{
    width: 13vw;
    height: 19vw;
}
.PetName{
    font-family: 'texto';
    font-size: 1.9vw;
    margin-top: -17vw;
    margin-left: 13vw;
    text-align: center;
    color: #5696df;
    width: 20vw;
    text-align: center;
}
.age{
    font-family: 'texto';
    font-size: 1vw;
    margin-left: 14vw;
    width: 23vw;
}
.location{
    font-family: 'texto';
    font-size: 1vw;
    margin-left: 14vw;
    width: 23vw;
}
.breed{
    font-family: 'texto';
    font-size: 1vw;
    margin-left: 14vw;
    width: 20vw;
}
.fomulario_filtros{
    position: absolute;
    top: 13vw;
    left: 1vw;
    width: 16vw;
    height: 34vw;
    padding: 1vw;
    background-color: #5696df;
    border-top-left-radius:2vw ;
    border-top-right-radius:2vw;
    border-bottom-left-radius:2vw ;
    border-bottom-right-radius: 2vw;
}

.volver{
    position: absolute;
    color: white;
    background-color: #5696df;
    position: absolute;
    font-family: 'barra';
    font-size: 1.5vw;
    text-align: center;
    top: 52vw;
    left: 4.5vw;
    width: 13vw;
    height: 3vw;
    border: 0;   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 
       0 6px 10px rgba(86, 150, 223, 0.3);
}
.Especie{
 background-color:#5696df;
 left: 1vw;
 color: white;
 font-family: 'texto';
 font-size: 1.5vw;
 border: 1vw solid transparent;
}
.Edad{
 background-color:#5696df;
 color: white;
 font-family: 'texto';
 font-size: 1.5vw;
 border: 1vw solid transparent;
}
.ubicacion{
 background-color:#5696df;
 color: white;
 font-family: 'texto';
 font-size: 1.5vw;
 border: 0.1vw solid white;
}
.fomulario_filtros p{
 background-color: transparent;
 color: white;
 font-family: 'barra';
 font-size: 1.5vw;
 border: 1vw solid transparent;
}