@font-face {
    font-family: 'barra';
    src: url(../fond/Kanit-Regular.ttf);
}
@font-face {
    font-family: 'titulo';
    src: url(../fond/SAGONABOOKBOLD.TTF);
}
@font-face {
    font-family: 'texto';
    src: url(../fond/Karla-Regular.ttf);
}
.logo{
    position: absolute;
    width: 11vw;
    left: 6vw;
    top: 0.5vw;
}
.Huella{
    position: absolute;
    width: 2vw;
    left: 22vw;
    top: 4.5vw;
}
.Estrella{
    position: absolute;
    width: 2.5vw;
    left: 40vw;
    top: 4.6vw;
}
.mas{
    position: absolute;
    width: 2.5vw;
    left: 62vw;
    top: 4.6vw;
}
.corazon{
    position: absolute;
    width: 2vw;
    left: 84vw;
    top: 4.5vw;
}
.sobre{
    color: black;
    position: absolute;
    font-family: 'barra';
    top: 2.3vw;
    left: 25vw;
    font-size: 1.5vw;
    text-align: center;
    width: 5vw;
}
.fav{
    color: black;
    position: absolute;
    font-family: 'barra';
    top: 3.2vw;
    left: 44vw;
    font-size: 1.5vw;
    text-align: center;
}
.inf{
    color: black;
    position: absolute;
    font-family: 'barra';
    top: 3.2vw;
    left: 65vw;
    font-size: 1.5vw;
    text-align: center;
}
.realizar{
    color: black;
    position: absolute;
    font-family: 'barra';
    top: 2.3vw;
    left: 88vw;
    font-size: 1.5vw;
    text-align: center;
    width: 5vw;
}
.titulo{
    color: #5696df;
    position: absolute;
    font-family: 'titulo';
    font-size: 3.5vw;
    width: 38vw;
    top: 10vw;
    left: 39vw;
}
.texto{
    color: black;
    position: absolute;
    font-family: 'texto';
    font-size: 2vw;
    width: 65vw;
    top: 19vw;
    left: 19vw;
}
.volver{
    position: absolute;
    color: white;
    background-color: #5696df;
    position: absolute;
    font-family: 'barra';
    font-size: 1.5vw;
    text-align: center;
    top: 52vw;
    left: 85vw;
    width: 13vw;
    height: 3vw;
    border: 0;   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 
       0 6px 10px rgba(86, 150, 223, 0.3);
}
.huellasazules1{
    position: absolute;
    width: 15vw;
    top: 30vw;
    left: 5vw;
}
.huellasazules2{
    position: absolute;
    width: 15vw;
    top: 12vw;
    left: 5vw;
}
.huellasnegras1{
    position: absolute;
    width: 15vw;
    top: 28vw;
    left: 84vw;
}
.huellasnegras2{
    position: absolute;
    width: 15vw;
    top: 12vw;
    left: 84vw;
}
.lineainferior{
    position: absolute;
    width: 12vw;
    height: 0.2vw;
    background-color: black;
    top: 8vw;
    left: 62.5vw;
}