@font-face {
    font-family: 'bold';
    src: url(../fonds/PT\ Root\ UI_Bold.ttf);
}
@font-face {
    font-family: 'ligth';
    src: url(../fonds/PT\ Root\ UI_Light.ttf);
}
@font-face {
    font-family: 'medium';
    src: url(../fonds/PT\ Root\ UI_Medium.ttf);
}
@font-face {
    font-family: 'regular';
    src: url(../fonds/PT\ Root\ UI_Regular.ttf);
}
h1{
    font-size: 3vw;
    font-family: 'regular';
    text-align: center;
}
body{
    align-items: center;
    text-align: center;
}
.ver{
    height: 4vw;
    width: 8vw;
    font-size: 1.3vw;
    font-family: 'regular';
    border-top-left-radius:  0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    background-color: black;
    color: white;
    border-color: black;
}
.eliminar{
    height: 4vw;
    width: 8vw;
    font-size: 1.3vw;
    font-family: 'regular';
    border-top-left-radius:  0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    background-color: rgb(60, 106, 243);
    color: white;
    border-color: black;
}
.agregar{
    height: 4vw;
    width: 8vw;
    font-size: 1.3vw;
    font-family: 'regular';
    border-top-left-radius:  0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    background-color: red;
    color: white;
    border-color: black;
}
.editar{
    height: 4vw;
    width: 8vw;
    font-size: 1.3vw;
    font-family: 'regular';
    border-top-left-radius:  0.5vw;
    border-top-right-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    background-color: red;
    color: white;
    border-color: black;
}

.fondo{
    width: 100vh;
}